@model CmsShoppingCart.Models.ViewModels.Cart.CartVM


<span class="fa fa-shopping-cart"></span> Your cart: @Model.Quantity item(s) - $@Model.Price
<br />
@Html.ActionLink("Checkout", "Index", null, new { @class = "btn btn-warning btn-sm btn-block" })
