@model IEnumerable<CmsShoppingCart.Models.ViewModels.Shop.CategoryVM>
<br />
<br />
<div class="bg-dark">

    <p class="bg-dark text-white text-sm-center pt-2">Categories</p>

    <div class="list-group">
        @foreach (var item in Model)
        {
            <a class="list-group-item list-group-item-action bg-secondary text-white" href="~/shop/category/@item.Slug.ToLower()">@item.Name</a>
        }
    </div>

</div>